doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/main.css')
.wrapper(data-wrapper='')
  .preloader(data-preloader='')
    img.preloader__img(src='images/preloader.png' alt='preloader' data-preloader-img='')
  .progress(data-progress='')
    .progress__filling(data-progress-filling='')
    .progress__inner
      span.progress__text(data-progress-value='') 0%
      img.progress__up(src='images/arrow-top.svg' ait='arrow')
  .container
    header.header
      .logo
        img(src='images/logo.png' alt='logo')
      .nav(data-nav='')
        ul.nav__list
          li.nav__item
            a.nav__link.active(href='#' data-link='') &Rcy;&iecy;&zcy;&yucy;&mcy;&iecy;
          li.nav__item
            a.nav__link(href='#' data-link='') &Ocy; &scy;&iecy;&bcy;&iecy;
          li.nav__item
            a.nav__link(href='#' data-link='') &Ncy;&acy;&vcy;&ycy;&kcy;&icy;
        img.mob-menu-img(src='images/mob-menu.png' alt='menu')
      .burger(data-burger='')
        span.burger__line
    main
      .top__holder(data-section='')
        .top__info
          h1.title.title__h1
            span &Rcy;&ocy;&mcy;&acy;&ncy; &Acy;&gcy;&iecy;&iecy;&vcy;,
            |               &Vcy;&iecy;&rcy;&scy;&tcy;&acy;&lcy;&softcy;&shchcy;&icy;&kcy;
          p.p
            | &Kcy;&acy;&kcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy;, &yacy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy; &tscy;&iecy;&ncy;&yucy; &scy;&pcy;&ocy;&scy;&ocy;&bcy;&ncy;&ocy;&scy;&tcy;&softcy; &vcy;&ocy;&pcy;&lcy;&ocy;&tcy;&icy;&tcy;&softcy; &vcy;&icy;&dcy;&iecy;&ncy;&icy;&iecy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy;&acy; &vcy; &zhcy;&icy;&zcy;&ncy;&softcy;, &chcy;&tcy;&ocy; &scy;&chcy;&icy;&tcy;&acy;&yucy;
            | &ocy;&chcy;&iecy;&ncy;&softcy; &pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&ycy;&mcy;
            | &dcy;&lcy;&yacy;
            | &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &YAcy; &pcy;&ocy;&lcy;&ucy;&chcy;&acy;&yucy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy; &ucy;&dcy;&ocy;&vcy;&lcy;&iecy;&tcy;&vcy;&ocy;&rcy;&iecy;&ncy;&icy;&iecy;, &ncy;&acy;&bcy;&lcy;&yucy;&dcy;&acy;&yacy; &zcy;&acy; &rcy;&acy;&bcy;&ocy;&tcy;&ocy;&jcy; &ocy;&tcy; &icy;&dcy;&iecy;&icy; &dcy;&ocy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&acy;, &ocy;&scy;&ocy;&bcy;&iecy;&ncy;&ncy;&ocy; &kcy;&ocy;&gcy;&dcy;&acy; &ocy;&ncy;&acy;
            | &pcy;&ocy;&yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &vcy; &rcy;&ucy;&kcy;&acy;&khcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;. &YAcy; &scy;&chcy;&icy;&tcy;&acy;&yucy;, &chcy;&tcy;&ocy; &ocy;&rcy;&icy;&iecy;&ncy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy; &ncy;&acy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&yacy; &yacy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &ncy;&acy;&icy;&bcy;&ocy;&lcy;&iecy;&iecy;
            | &tscy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &tscy;&icy;&fcy;&rcy;&ocy;&vcy;&ycy;&mcy;&icy; &rcy;&iecy;&scy;&ucy;&rcy;&scy;&acy;&mcy;&icy; &bcy;&ucy;&dcy;&ucy;&shchcy;&iecy;&gcy;&ocy;.
        .top__contacts
          div
            .top__contact.mail romastyi83@gmail.com
            .top__contact.tel +7 (950) 761-28-94
            .top__contact.city &gcy;. &Vcy;&ocy;&rcy;&ocy;&ncy;&iecy;&zhcy;
            .social__holder
              a.social__icon(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com' target='_blank' rel='noopener')
                img(src='images/fb.svg' alt='fb')
              a.social__icon(href='https://vk.com/share.php?url=https://vk.com/romastyi83' target='_blank' rel='noopener')
                img(src='images/vk.svg' alt='vk')
              a.social__icon(href='https://msng.link/o/?89507612894=tg' target='_blank' rel='noopener')
                img(src='images/tg.svg' alt='tg')
      .about__wrapper
        .about(data-section='')
          .about__holder
            .experience
              h2.title.title__h2 &Ocy;&pcy;&ycy;&tcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
              .experience__item
                span.experience__date &Icy;&yucy;&lcy;&softcy; 2019
                span.experience__post Freelance Designer
                span.experience__country Netherlands, Worldwide
                span.experience__skills
                  | Available for a project or job in UX/UI, Visual and Product
                  | design.
                a.experience__link(href='#') Commercial tryouts
                a.experience__link(href='#') Personal projects
              .experience__item
                span.experience__date &YAcy;&ncy;&vcy;&acy;&rcy;&softcy; 2017 - &Scy;&iecy;&ncy;&tcy;&yacy;&bcy;&rcy;&softcy; 2018
                span.experience__post Freelance Designer
                span.experience__country Netherlands, Worldwide
                span.experience__skills
                  | Available for a project or job in UX/UI, Visual and Product
                  | design.
                a.experience__link(href='#') Commercial tryouts
                a.experience__link(href='#') Personal projects
              .experience__item
                span.experience__date &Icy;&yucy;&lcy;&softcy; 2019
                span.experience__post Freelance Designer
                span.experience__country Netherlands, Worldwide
                span.experience__skills
                  | Available for a project or job in UX/UI, Visual and Product
                  | design.
                a.experience__link(href='#') Commercial tryouts
                a.experience__link(href='#') Personal projects
              .experience__item
                span.experience__date &Icy;&yucy;&lcy;&softcy; 2019
                span.experience__post Freelance Designer
                span.experience__country Netherlands, Worldwide
                span.experience__skills
                  | Available for a project or job in UX/UI, Visual and Product
                  | design.
                a.experience__link(href='#') Commercial tryouts
                a.experience__link(href='#') Personal projects
              .experience__item
                span.experience__date &Icy;&yucy;&lcy;&softcy; 2019
                span.experience__post Freelance Designer
                span.experience__country Netherlands, Worldwide
                span.experience__skills
                  | Available for a project or job in UX/UI, Visual and Product
                  | design.
                a.experience__link(href='#') Commercial tryouts
                a.experience__link(href='#') Personal projects
            .about__man
              img.about__man-img(src='images/man.png' alt='man')
            .education
              h2.title.title__h2 &Ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
              .education__holder
                .education__item
                  img.education__img(src='images/1.svg' alt='img')
                  span.education__name
                    | Interface Design:
                    | Web &amp; Mobile
                  span.education__date IT-Academy, 2020
                .education__item
                  img.education__img(src='images/2.svg' alt='img')
                  span.education__name
                    | Fundamentals
                    | of Usability
                  span.education__date Skillshare, Oct 2018
                .education__item
                  img.education__img(src='images/3.svg' alt='img')
                  span.education__name CG Artist
                  span.education__date
                    | Polygon CG School,
                    | May-Sep 2017
                .education__item
                  img.education__img(src='images/4.svg' alt='img')
                  span.education__name Graphic Design
                  span.education__date
                    | Belarusian State Academy of Arts,
                    | 2015 - 2017 Postgraduate Diploma
                .education__item
                  img.education__img(src='images/5.svg' alt='img')
                  span.education__name SEO Specialist
                  span.education__date
                    | ARTOX Media,
                    | Jun-Aug 2012
                .education__item
                  img.education__img(src='images/6.svg' alt='img')
                  span.education__name Information Technology Software
                  span.education__date
                    | Belarusian State University of Informatics and Radioelectronics, 2011
                    | -
                    | 2015
                    | Bachelor&rsquo;s degree
                  span.education__date
                    | Polotsk State Economic College, 2007 - 2011
                    | Associate&rsquo;s degree
      .skils__wrapper
        .skils(data-section='')
          h2.title.title__h2 &Ncy;&acy;&vcy;&ycy;&kcy;&icy;
          .skils__holder
            .skils__item
              h3.title.title__h3 Adobe Creative Suite
              p Photoshop, Illustrator, InDesign, XD, After Effects
            .skils__item
              h3.title.title__h3 Prototyping
              p Sketch, Figma, InVision, Marvel, Principle, Balsamiq
            .skils__item
              h3.title.title__h3 Additional
              p HTML, CSS, Google Analytics, Keynote, Miro
            .skils__item
              h3.title.title__h3 Languages
              p Conversational English and Native Russian
    footer.footer
      .footer__inner
        img.footer__img(src='images/love.png' alt='love')
script(src='js/main.min.js')
